{% extends "base.html" %}

{% block content %}
	<title> Added! </title>

	<div align = 'center'>
		<table>
			<thead>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in result.items() %}
					<tr>
						<td> {{ key }} </td>
						<td> {{ value }} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br /><br />
		
		<a href = "/{{next}}_{{topic}}" class = "button-small">Another</a>
		<a href = "/show_{{topic}}" class = "button-small">Table</a>
	</div>
{% endblock %}