<!doctype html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box;
            }
                
            .column {
                float: left;
                width: 40%;
                padding: 10px;
            }
                
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            </style>
    </head>
    <body>

        <title> Add a new topic </title>

        <form action = "http://localhost:5000/return_new_topic" method = "post">
            {% for col in columns %}
            <div class = "row">
                <div class = "column">
                    <div align = "right">
                        {{col}}
                    </div>
                </div>
                <div class = "column">
                    <div align = "left">
                            <input type = "text" name = {{col}} />
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class = "row">
                <div class = "column">
                    <div align = "right">
                    </div>
                </div>
                <div class = "column">
                    <div align = "left">
                        <input type = "submit" value = "Save" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>